@import "../../assets/css/global.css";


/* ---------------------------- Container ----------------------- */

.page {
    position: relative;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    background-color: #fff;
} 
.page.active_item {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}


/* ---------------------------- Header ----------------------- */


.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding-top: 61px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    min-width: 186px;
    text-decoration: none;
}

.header__logo_clone {
    display: none;
}

.header__title {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.header__subtitle {
    margin-top: 10px;
    margin-left: 4px;
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #fff;
    text-decoration: none;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 1px;
    color: #fff;
    font-family: "Arial";
}

.nav__item {
    min-height: 29px;
    margin-left: 35.5px;
}

.nav__link {
    display: block;
    position: relative;
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
    color: #CDCDCD;
}

.nav__link:after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
    opacity: 0;
}

.active {
    color: #FAFAFA;
}

.active:after {
    opacity: 1;

}

.nav__link:hover {
    color: #FAFAFA;
}

.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 22px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: 830ms;
}

.burger__btn {
    position: absolute;
    top: 45.5%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    z-index: 999;
}

.burger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
}

.burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
}

.burger__shadow {
    box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
}

/* ---------------------------- Notonly-block ---------------------------- */


.notonly-block {
    background: url(../../assets/images/noise_transparent2x.png), -o-radial-gradient(0% 0%, 100% 215.42%, #5B483A 0%, #262425 100%);
    background: url(../../assets/images/noise_transparent2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    color: #fff;
}

.notonly-block__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 908px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.notonly-block__wrap {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 39%;
    margin-top: 10.9%;
    margin-bottom: 30px;
}

.notonly-block__image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 65%;
    max-height: 100%;
    margin-left: auto;
}

.notonly-block__image img {
    width: 100%;
    height: 100%;
}

.notonly-block__title {
    max-width: 320px;
    margin-bottom: 41px;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
}

.notonly-block__text {
    margin-bottom: 42px;
    line-height: 24px;
    color: #CDCDCD;
}

/* ---------------------------- About-block ---------------------------- */


.about-block {
    padding: 80px 0 93px;
    background-color: #fff;
}

.about-block__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.about-block__title {
    max-width: 370px;
}

.about-block__wrap {
    order: 2;
    width: 45.9%;
    margin-top: 15px;
    padding: 0 20px;
    color: #4C4C4C;
}

.about-block__article {
    max-width: 430px;
    margin-top: 23px;
}

.about_block__text:not(:first-child) {
    margin-top: 25px;
}

.about-block__image {
    order: 1;
    width: 41.7%;
    text-align: center;
}

.about-block__image img {
    max-width: 100%;
}

/* ---------------------------- Friends block ---------------------------- */


.friends {
    padding: 80px 0 100px;
    background-color: #F6F6F6;
}

.friends__title {
    max-width: 430px;
    margin: 0 auto;
    text-align: center;
}

.friends__link {
    text-align: center;
}


/* ---------------------------- Slider (friends block) ---------------------------- */




.slider {
    position: relative;
}

.slider__inner {
    width: 1080px;
    overflow: hidden;
    margin: 19px auto 20px;
}

.slider__wrapper {
    display: flex;
    position: relative;
    left: -1080px;
}

.sliders {
    display: flex;
}

.slider__item {
    position: relative;
    display: block;
    width: 270px;
    height: 435px;
    margin: 40px 45px;
    padding-bottom: 31px;
    background-color: #fafafa;
    border-radius: 9px;
    text-decoration: none;
    color: #545454;
    cursor: pointer;
}

@keyframes showRight {
    0% {left: -1080px;}
    100% {left: -2160px;}
  }
  
@keyframes showLeft {
    0% {left: -1080px;}
    100% {left: 0px;}
  }
  
.animation_right {
    animation: showRight 500ms ease;
  }
  
.animation_left {
    animation: showLeft 500ms ease;
  }


.slider__item:hover {
    box-shadow: 0px 2px 10px 1px #0D0D0D0A;
    background-color: #fff;
    transition: 530ms;
}

.slider__image {
    position: relative;
    display: block;
    padding-bottom: 100%;
    margin-bottom: 30px;
}

.slider__image img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px 9px 0 0;
}

.slider__descr {
    padding: 0 10px;
    text-align: center;
}

.slider__title {
    min-height: 46px;
    max-height: 46px;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    letter-spacing: 0.06em;
    overflow: hidden;
}

.slider__btn {
    padding: 12.7px 42.5px;
    background-color: transparent;
}

.slider__btn:hover, .slider__item:hover .slider__btn {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
    transition: 530ms;
}

.slider__arrow {
    position: absolute;
    top: 45.1%;
    background-image: url(../../assets/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
}

.slider__arrow_left {
    left: 0;
}

.slider__arrow_right {
    right: 0;
    transform: rotate(180deg);
}

.slider__arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}


/* ---------------------------- Help block ---------------------------- */


.help {
    padding: 80px 0 44px;
    background-color: #fff;
}


.help__title {
    max-width: 310px;
    margin: 0 auto 60px;
    text-align: center;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.help__item {
    margin: 0 60px 41px;
    text-align: center;
}

.help__image {
    width: 60px;
    height: 60px;
}

.help__item-title {
    padding: 22px 0 15px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}


/* ---------------------------- Donation block ---------------------------- */


.donation {
    padding: 81px 0 80px;
    background-color: #F6F6F6;
}

.donation__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.donation__image {
    order: 1;
    width: 47.1%;
    margin-top: 10px;
    text-align: center;
}

.donation__image img {
    max-width: 100%;
}

.donation__wrap {
    order: 2;
    width: 34.1%;
}

.donation__title {
    max-width: 300px;
    margin-bottom: 20px;
    line-height: 129%;
}

.donation__name {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__card {
    display: inline-block;
    padding: 10px 14px 10px 60px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-decoration: none;
    background-image: url(../../assets/icons/credit-card.svg);
    background-repeat: no-repeat;
    background-position: 4.8% center;
    background-color: #F1CDB3;
    border-radius: 9px;
    color: #545454;
}

.donation__card:hover {
    background-color: #FDDCC4;
}

.donation__text {
    max-width: 380px;
    margin: 20px 0;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

/* ---------------------------- Footer ---------------------------- */


.footer {
    padding-top: 40px;
    background: url(../../assets/images/noise_transparent2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer__title {
    max-width: 280px;
    margin-bottom: 22px;
    font-size: 35px;
    line-height: 45px;
    color: #fff;
    letter-spacing: 0.06em;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    width: 73.2%;
}

.footer__item {
    width: 50%;
    margin-top: 17px;
}

.footer__item_pins {
    width: 43%;
}

.footer__image {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}

.footer__adress {
    display: block;
    max-width: 295px;
    margin-bottom: 17px;
    padding: 10px 0px 10px 60px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #F1CDB3;
    background-repeat: no-repeat;
    background-position: left center;
}

.footer__adress_email {
    max-width: 260px;
    margin: 34px 0 29px;
    background-image: url(../../assets/icons/mail.svg);
}

.footer__adress_phone {
    max-width: 255px;
    background-image: url(../../assets/icons/phone.svg);
}

.footer__adress_location {
    padding-left: 41px;
    background-image: url(../../assets/icons/pin.svg);
}



/* ---------------------------- Modal ---------------------------- */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(41, 41, 41, 0.6);
    z-index: 1000;
    padding: 54px;
    overflow: auto;
}

.modal.active_item {
    display: flex;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: relative;
    max-height: 100%;
}

.modal__btn {
    width: 0px;
    height: 0px;
    position: absolute;
    top: -52px;
    right: 10px;
}

.modal__animation {
    animation-duration: 700ms;
}

.modal__animation_open {
    animation-name: modal-open;
}

.modal__animation_close {
    animation-name: modal-close;
}

@keyframes modal-open {
    0%{
      transform: scale(0.35);
    }
    100%{
      transform: scale(1);
    }
}

@keyframes modal-close {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(0.35);
    }
}

.modal__item {
    max-width: 900px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    border-radius: 9px;
}

.modal__close-btn {
    background-image: url(../../assets/icons/mark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

.modal__close-btn_hover {
    overflow: hidden; 
    background-color: #FDDCC4;
    transition: 530ms;
}

.modal__image {
    margin: auto 0;
    min-width: 500px;
    height: 500px;
    overflow: hidden;
    
}
.modal__image img {
    width: 100%;
    height: 100%;
    border-radius: 9px 0 0 9px;
    object-fit: cover;
}

.modal__descr {
    max-height: 490px;
    font-family: 'Georgia';
    max-width: 100%;
    color: #000;
    padding: 51px 20px 20px 30px;
    overflow: hidden;
}

.modal__title {
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    margin-bottom: 9px;
}

.modal__subtitle {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-bottom: 41px;
}

.modal__text {
    max-height: 162px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    margin-bottom: 40.5px;
    overflow: hidden;
}

.modal-list {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.modal-list__item {
    display: block;
    position: relative;
    padding-left: 14px;
}

.modal-list__item:not(:last-child) {
    margin-bottom: 11.5px;
}

/* .modal-list__title {
    margin-bottom: 10px;
} */
.modal-list__item:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    display: block; 
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #F1CDB3;
}

.modal-list__name {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.065em;
}