@media (max-width : 1279px) {

    /* --------------------------- Header - 768px --------------------------- */
    
    .container {
        padding: 0 30px;
    }


    /* --------------------------- Pets Block - 768px --------------------------- */

    .pets__title {
        margin: 0 auto;
    }

    .pets__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-rows: 0;
        justify-items: center;
        overflow-y: hidden;
        max-width: 860px;
        width: 92%;
        margin: 0 auto;
        gap: 30px;
        padding: 28px 30px 0px; 
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding: 25px 0 76px;
    }


   /* --------------------------- Footer block - 768px --------------------------- */

    .footer {
        padding-top: 31px;
    }

    .footer__inner {
        width: 100%;
        justify-content: center;
    }

    .footer__content {
        width: 100%;
        justify-content: center;
        margin-bottom: 42px;
    }

    .footer__item {
        max-width: 302px;
        margin-top: 16px;
        margin: 0 18.5px;
    }

     /* ---------------------------- Modal - 768px ---------------------------- */

     .modal__item {
        max-width: 630px;
    }

    .modal__image {
        min-width: 350px;
        height: 350px;   
    }

    .modal__descr {
        max-height: 350px;
        padding: 11px 8px 20px 11px;
    }

    .modal__title {
        margin-bottom: 8px;
    }

    .modal__subtitle {
        margin-bottom: 21px;
    }

    .modal__text {
        max-height: 142px;
        font-size: 13px;
        line-height: 14.3px;
        margin-bottom: 18px;
    }

    .modal-list__item:before {
        top: 40%;
    }
    
    .modal-list {
        font-size: 15px;
        line-height: 16.5px;
    }

    .modal-list__item:not(:last-child) {
        margin-bottom: 6.6px;
    }

    .modal__btn {
        position: absolute;
        top: -52px;
        right: 22px;
    }

}

@media (max-width : 767px) {


/* --------------------------- Global - 320px --------------------------- */

    .title_section_small {
        max-width: 100%;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
    }



/* --------------------------- Header and Burger menu - 320px --------------------------- */

    .header__container {
        padding: 0 10px;
    }

    .header {
        min-height: 120px;
        order: 3;
        padding-top: 31px;
        padding-bottom: 19px;
    }

    .header__menu {
        position: fixed;
        right: -100%;
        top: 0;
        transform: translateX(100%);
        max-width: 320px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        padding: 0 10px;
        overflow: auto;
        z-index: 3;
        background-color: #fff;
        transition: 0.5s ease-in-out;
    }

    .header__menu_mobile {
        right: 0;
        transform: translateX(0);
        transition: 0.4s ease-in-out;
    }

    .header__menu-wrap {
        margin: 30px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1px;
        transition: 0.4s ease-in-out;
    }

    .header__logo_clone {
        display: block;
    }

    .nav {
        order: 2;
     
    }

    .nav__list {
        text-align: center;
    }

    .nav__item {
        width: 100%;
        margin: 0;
    }

    .nav__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .nav__link {
        font-size: 32px;
        line-height: 51px;
    }

    .burger {
        order: 1;
        display: block;
        margin-right: 42px;
        z-index: 1;
    }

    .burger.active_item  {
        transform: rotate(90deg);
        transition: 930ms;
    }

    .shadow.active {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0; 
    }

    /* --------------------------- Pets Block - 320px --------------------------- */

    .pets {
        padding-top: 42px;
    }

    .pets__title {
        max-width: 348px;
    }

    .pets__container {
        padding: 0 10px;
    }

    .pets__cards {
        grid-template-columns: 1fr;
        grid-auto-rows: 0;
        width: 100%;
        margin: 0 auto;
        gap: 0px;
        padding: 0;
        padding-top: 41px; 
    }

    .card {
        margin-bottom: 30px;
    }

    .pagination {
        padding-top: 12px;
        padding-bottom: 42px;
    }

    .pets__btn:not(:first-child) {
        margin-left: 10px;
    }
    


    /* --------------------------- Footer - 320px --------------------------- */

    .footer {
        padding-top: 14px;
    }

    .footer__container {
        text-align: center;
        padding: 0 10px;
    }

    .footer__title {
        margin: 0 10% 33px;
    }

    .footer__title_pins {
        margin-bottom: 30px;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 11px;
    }

    .footer__item {
        max-width: 310px;
        width: 100%;
        margin: 0;
        margin-top: 5px;
    }
    
    .footer__item:not(:last-child) {
        margin-top: 16px;
        margin-right: 0;
    } 
   
    .footer__links {
        display: grid;
        justify-items: center;
    }

    .footer__links_location {
        justify-items: start;
    }

    .footer__adress {
        max-width: 300px;
        margin: 0 0 29px;
    }

    .footer__adress_location {
        width: 100%;
        padding-left: 42px;
        margin-bottom: 24px;
        text-align: left;
    }

    .footer__image {
        justify-content: center;
    }

    .footer__image img {
        width: 86.5%;
    }

     /* ---------------------------- Modal 320px ---------------------------- */

     .modal {
        padding: 54px 0;
    }

    .modal__item {
        max-width: 240px;
    }

    .modal__image {
        display: none;
    }

    .modal__descr {
        width: 100%;
        max-height: 100%;
        padding: 10px;
    }

    .modal__title {
        text-align: center;
        margin-bottom: 9px;
    }

    .modal__subtitle {
        text-align: center;
        margin-bottom: 22px;
    }

    .modal__text {
        margin-bottom: 23px;
        text-align: justify;
        line-height: 14px;
    }

    .modal-list {
        font-size: 15px;
        line-height: 16.5px;
    }

    .modal-list__item:not(:last-child) {
        margin-bottom: 6.9px;
    }

    .modal__btn {
        position: absolute;
        top: -52px;
        right: 22px;
    }
}